.formBox {
    display: flex;
    width: 22.1875rem;
    height: 27.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 0.0625rem var(--Grey-3);
}