.btn {
    display: inline-flex;
    height: 3rem;
    width: 19.5rem;
    margin-top: 2rem;
    padding: 0.8125rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    color: var(--Grey-1);

    border-radius: 0.5rem;
    border: 0.125rem solid var( --Color-primary);
    background: var(--Color-primary);

    &:hover {
        border-radius: 0.5rem;
        border: 0.125rem solid var(--Color-Secondary);
        background: var( --Color-Secondary);
    }
}