:root {
    --font-family: 'Nunito', sans-serif;

    --Color-primary: #FD377E;
    --Color-Secondary: #E34981;

    --Color-Secondary1: #03B898;

    --Grey-4: #212529;
    --Grey-3: #868E96;
    --Grey-2: #E9ECEF;
    --Grey-1: #F8F9FA;

}