.inputs {
    display: flex;
    width: 20.3125rem;
    height: 3rem;
    padding: 0px 1rem;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0.5rem;
    border: 0.125rem solid var(--grey-0, #F8F9FA);
    background: var(--grey-0, #F8F9FA);

    &:focus {
        border-radius: 0.5rem;
        border: 0.125rem solid var(--grey-4);
        background: #FFF;
    }
}