.inputBox {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    font-family: var(--font-family);

    input {
        display: flex;
        align-items: center;

        background-color: var( --Grey-2);

       
        border-radius: 8px;

        width: 19.625rem;
        height: 3.3rem;
        padding: 0px 1rem;

        &:focus {
            border-radius: 0.5rem;
            border: 0.125rem solid ;
            background: #FFF;
        }
    }
}